/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.clearfix, .cf, .comment-respond {
  zoom: 1; }
  .clearfix:before, .clearfix:after, .cf:before, .comment-respond:before, .cf:after, .comment-respond:after {
    content: "";
    display: table; }
  .clearfix:after, .cf:after, .comment-respond:after {
    clear: both; }

ß
/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/
@media (max-width: 767px) {
  .m-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .m-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .m-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .m-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .m-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .m-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; } }
/* Portrait tablet to landscape */
@media (min-width: 768px) and (max-width: 1029px) {
  .t-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .t-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .t-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .t-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .t-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .t-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }

  .t-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }

  .t-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }

  .t-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }

  .t-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; } }
/* Landscape to small desktop */
@media (min-width: 1030px) {
  .d-all {
    float: left;
    padding-right: 0.75em;
    width: 100%;
    padding-right: 0; }

  .d-1of2 {
    float: left;
    padding-right: 0.75em;
    width: 50%; }

  .d-1of3 {
    float: left;
    padding-right: 0.75em;
    width: 33.33%; }

  .d-2of3 {
    float: left;
    padding-right: 0.75em;
    width: 66.66%; }

  .d-1of4 {
    float: left;
    padding-right: 0.75em;
    width: 25%; }

  .d-3of4 {
    float: left;
    padding-right: 0.75em;
    width: 75%; }

  .d-1of5 {
    float: left;
    padding-right: 0.75em;
    width: 20%; }

  .d-2of5 {
    float: left;
    padding-right: 0.75em;
    width: 40%; }

  .d-3of5 {
    float: left;
    padding-right: 0.75em;
    width: 60%; }

  .d-4of5 {
    float: left;
    padding-right: 0.75em;
    width: 80%; }

  .d-1of6 {
    float: left;
    padding-right: 0.75em;
    width: 16.6666666667%; }

  .d-1of7 {
    float: left;
    padding-right: 0.75em;
    width: 14.2857142857%; }

  .d-2of7 {
    float: left;
    padding-right: 0.75em;
    width: 28.5714286%; }

  .d-3of7 {
    float: left;
    padding-right: 0.75em;
    width: 42.8571429%; }

  .d-4of7 {
    float: left;
    padding-right: 0.75em;
    width: 57.1428572%; }

  .d-5of7 {
    float: left;
    padding-right: 0.75em;
    width: 71.4285715%; }

  .d-6of7 {
    float: left;
    padding-right: 0.75em;
    width: 85.7142857%; }

  .d-1of8 {
    float: left;
    padding-right: 0.75em;
    width: 12.5%; }

  .d-1of9 {
    float: left;
    padding-right: 0.75em;
    width: 11.1111111111%; }

  .d-1of10 {
    float: left;
    padding-right: 0.75em;
    width: 10%; }

  .d-1of11 {
    float: left;
    padding-right: 0.75em;
    width: 9.09090909091%; }

  .d-1of12 {
    float: left;
    padding-right: 0.75em;
    width: 8.33%; } }


/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
  margin: 1.5em 0; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    background-color: white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px; }
  .pagination li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid #eaedf2; }
  .pagination a, .pagination span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: #2980b9; }
    .pagination a:hover, .pagination a:focus, .pagination span:hover, .pagination span:focus {
      background-color: #2980b9;
      color: white; }
  .pagination .current {
    cursor: default;
    color: #5c6b80; }
    .pagination .current:hover, .pagination .current:focus {
      background-color: white;
      color: #5c6b80; }

/* end .bones_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em; }

  .widgettitle {
    background: #333;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 10px;
}

  .widget {
    margin: 0.5em 0; }
    .widget ul {
      padding: 10px;}

    .widget ul li a {
      padding: 5px 10px;
      display: block;}

    .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }

  .eyecatch {
    position: relative;
}
  
.eyecatch.eyecatch-popular-icon:before {
    font-size: 1.5rem;
    content: "";
    border-bottom: 3.3em solid transparent;
    border-right: 3.3em solid #ff8334;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}  
  
.eyecatch .eyecatch-title {
    font-size: 1.5rem;
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),to(rgba(0,0,0,.8)));
    background: -webkit-linear-gradient(top,transparent,rgba(0,0,0,.8));
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8));
    color: #fff;
    padding: 30px 10px 10px;
    line-height: 1.4;
    font-weight: 700;
}  

  
.eyecatch.eyecatch-popular-icon:after {
    font-size: 1.5rem;
    font-weight: 700;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "人気";
    color: #fff;
    position: absolute;
    top: 4px;
    right: 4px;
}
  


@media only screen and (min-width: 481px) {
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */ }
    .menu ul {
      /* end .menu ul li */
      /* highlight current page */
      /* end current highlighters */ }
      .menu ul li {
        /*
        plan your menus and drop-downs wisely.
        */ }
        .menu ul li a {
          /*
          you can use hover styles here even though this size
          has the possibility of being a mobile device.
          */ }

  .entry-content {
    /* at this larger size, we can start to align images */ }
    .entry-content .alignleft, .entry-content img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left; }
    .entry-content .alignright, .entry-content img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right; }
    .entry-content .aligncenter, .entry-content img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both; }
  
  
@media only screen and (min-width: 768px) {
  .wrap {
    width: 760px; }

  .nav {
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .nav ul {
      background: #323944;
      margin-top: 0; }
    .nav li {
      float: left;
      position: relative;
      /*
      plan your menus and drop-downs wisely.
      */
      /* showing sub-menus */ }
      .nav li a {
        border-bottom: 0;
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }
        .nav li a:hover, .nav li a:focus {
          color: white;
          text-decoration: underline; }
      .nav li ul.sub-menu,
      .nav li ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        visibility: hidden;
        z-index: 8999;
        /* highlight sub-menu current page */ }
        .nav li ul.sub-menu li,
        .nav li ul.children li {
          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */ }
          .nav li ul.sub-menu li a,
          .nav li ul.children li a {
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc; }
          .nav li ul.sub-menu li:last-child a,
          .nav li ul.children li:last-child a {
            border-bottom: 0; }
          .nav li ul.sub-menu li ul,
          .nav li ul.children li ul {
            top: 0;
            left: 100%; }
      .nav li:hover > ul {
        top: auto;
        visibility: visible; }


@media only screen and (min-width: 1030px) {
  .wrap {
    width: 1040px; } 
  }

  
  
