.contents-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.contents-list {
  padding: 5px 20px;
  font-size: 15px;
  background: #fff;
  
  li {
  
    a {
      display: block;
      padding: .5em 0;
      color: #009bd8;      
    }

  }
  
}

