.heading-title {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
  
  &:before,&:after {
    border-bottom: 2px solid #000;
    content: "";
    flex-grow: 1;
  }
  
  &:before {
    margin-right: 0.5em;
  }
  
  &:after {
    margin-left: 0.5em;
  }
}

.heading-sub-title {
  background: #333;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 10px;
  
}

.article-heading-title {
  background: #fff;
  font-size: 24px;
  padding: 5px 10px;
  
  
  
}