#menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #2a2a2a;
  -webkit-box-shadow: 0 -7px 10px 0 rgba(0,0,0,.06);
  box-shadow: 0 -7px 10px 0 rgba(0,0,0,.06);  text-align: center;
  padding: 0 15px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #e8e8e9;
  z-index: 1;
  font-size: 3.63333vw;
  
  a {
    color: #fff;
    padding: 17px 5px;
    display: block;

  }
  
  ul {
  display: flex;
    
    li {
      width: 100%;
      
    }
    
  }
}  

