.section-container {
  padding: 10px;
}

.section-inner {
  padding: 15px;
  background: #fff;
  
  .section-img {
    max-width: 100px;
    padding-right: 0.3em;
  }

}

.section-base {
  background-color: #fff;
}
