.text-xsmall {
  font-size: 12px!important;
}

.text-small {
  font-size: 1.6rem!important;
}

.text-medium {
  font-size: 1.8rem!important;
}

.text-large {
  font-size: 2rem!important;
}

.text-strong {
  font-weight: 700!important;
}